<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Members Page</title>
    <style type="text/css">
      body,td,th {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #9a9a9a;
        }
      body {
        background-color: #000;
        }
      a:link {
       	color: #7b4aac;
        }
      a:visited {
       	color: #7b4aac;
        }
      a:hover {
       	color: #7b4aac;
        }
      a:active {
       	color: #7b4aac;
        }
    </style>
</head>


  


<body>
  <center><img src="http://projectfresh.com/members/images/BASE-Final-Logo.jpg" border="0" width="1000" height="379"/></center>

  <p style="color: #000007;">.</p> 
  <p style="color: #000007;">.</p> 


  <% @rows.each do |member| %>
    <img src="<%= member[8] %>" width="400" height="400" border="0"/><br>
    <span style="font-size:14px; color: #7b4aac"><strong><%= member[1] %></strong></span>
    <br> 
    <em><%= member[2] %></em>
    <br>
    <em><%= member[3] %></em>
    <br><br>

    <span style="font-size:14px; color: #7b4aac"><strong>Briefly what you do and/or brief bio</strong></span><br> 
    <%= member[4] %>
    <br><br>

    <span style="font-size:14px; color: #7b4aac"><strong>Briefly describe a project that you're currently working on or envision? </strong></span><br>
    <%= member[5] %>
    <br><br> 

    <span style="font-size:14px; color: #7b4aac"><strong>What sort of support would you find helpful at this juncture? </strong></span><br> 
    <%= member[6] %>
    <br><br> 

    <span style="font-size:14px; color: #7b4aac"><strong>How would you like to be a part of the "next chapter"?</strong></span><br>  
    <%= member[7] %>
    <br><br><br><br><br>


  <% end %>






    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="380" valign="top">
          <p>
            <img src=" <%= @i2 %>" alt="Dougie" width="400" height="400" border="0"/>
          </p></td>

        <td width="40">&nbsp;</td>
        <td width="380" valign="top">
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong><%= @b2 %></strong></span><br>
            <em><%= @c2 %> <br>
                <%= @d2 %>
            </em>
          </p>
          
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>Briefly what you do and/or brief bio</strong></span><br>
              <%= @e2 %>
          </p>
                  
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>Briefly describe a project that you're currently working on or envision? </strong></span><br>
              <%= @f2 %>
          </p>
          
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>What sort of support would you find helpful at this juncture?</strong></span><br />
              <%= @g2 %>
          </p>
          
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>How would you like to be a part of the &quot;next chapter&quot;?</strong></span><br />
              <%= @h2 %>
          </p>
      </td>
      </tr>
    </table>

  <p style="color: #000007;">.</p> 
  <p style="color: #000007;">.</p> 

    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="380" valign="top">
          <p>
            <img src=" <%= @i3 %>" alt="Dougie" width="400" height="400" border="0"/>
          </p></td>

        <td width="40">&nbsp;</td>
        <td width="380" valign="top">
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong><%= @b3 %></strong></span><br>
            <em><%= @c3 %> <br>
                <%= @d3 %>
            </em>
          </p>
          
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>Briefly what you do and/or brief bio</strong></span><br>
              <%= @e3 %>
          </p>
                  
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>Briefly describe a project that you're currently working on or envision? </strong></span><br>
              <%= @f3 %>
          </p>
          
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>What sort of support would you find helpful at this juncture?</strong></span><br />
              <%= @g3 %>
          </p>
          
          <p>
            <span style="font-size:14px; color: #7b4aac"><strong>How would you like to be a part of the &quot;next chapter&quot;?</strong></span><br />
              <%= @h3 %>
          </p>
      </td>
      </tr>
    </table>

  </body>


</html>